@import '../css/nav.css';
@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '../../bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css';

body
    background-color:#fff
    table
        margin:0 auto
        margin-top:20px
        border:1px solid #dcdcdc
        .view
            margin-right:5p

