@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '../../bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css';
@import '../css/nav.css';

body
    background-color:#fff
    .opt-line
        position:relative
        .dropdown
            display:inline-block
            position:absolute
            right:0
    .dropdown
        float:right
    table
        margin:0 auto
        margin-top:50px
        border:1px solid #dcdcdc
        .view
            margin-right:5px
        .reject
            margin-right:5px
    #view
        label
            display:block
        .images
            display:inline-block
            width:33%
            height:200px
            img
                width:100%
                height:100%
        #horizontalimg
            width:100%
        #headimg
            width:50%
        #video
            width:100%
