nav
    .navbar-brand
        color:#ff5a89 !important
    .navbar-collapse
        background-color:#333 !important
    .navbar-nav
        li
            a
                color:#ccc !important
                &:hover
                    color:#fff !important
        li.active

            > a
                background-color:#ff5a89 !important
                color:#fff !important

nav.pagination-bar
    text-align:center

