@import '../css/nav.css';
@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';

body
    background-color:#fff
    table
        margin:0 auto
        margin-top:20px
        border:1px solid #dcdcdc
        .edit-link
            margin-right:10px
