@import '../css/nav.css';
@import '../../bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css';
@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';


body
    background-color:#fff
    table
        margin:0 auto
        border:1px solid #dcdcdc
            
    
