include ./lib/header.jade
    title 课程日历 
    link(href="/static/css/portal/calendar.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/calendar.js")
body(ng-controller="calendarCtrl")
    section#index-view
        div.background-black(ng-show="backShow==true",ng-click="showAddr($event)")=""
        div.filter.clearfix
            div.left(ng-click="showAddr($event)") 场地：{{ location }}
                div.addr-menu(ng-show="addrShow==true")
                    div.addr-line(class="{{ i.active }}",ng-repeat="i in addrs",ng-click="goAddr(i.id)") {{ i.name }}
                    div.addr-line(class="{{ i.active }}",ng-click="goAddr(-1)") 不限
            span |
            div.middle(ng-click="showSub($event)") 专业：{{ subject }}
                div.subject-menu(ng-show="subShow == true")
                    div.subj-line(class="{{ i.active }}",ng-repeat="i in subjs",ng-click="goSub(i.id)") {{ i.display }}
        include ./lib/alert.jade
        include ./lib/calendar.jade
        div.today(ng-show="cardShow == true")
            div.title 今日课程总计:
                span.num {{ total }}
            div.today-course
                span.red-point=""
                div.card(ng-repeat="card in cards.classes",ng-click="goCourse(card.id)")
                    div.card-detail(style="background-image:url('{{ card.poster }}');")
                        div.bottom-bar
                            span.left {{ card.time }}
                            span.center {{ card.name }}
                            span.right {{ card.cost }} 甜心币/课时 
                            span.go-right=""
                    span.red-point=""
