include ./lib/header.jade
    title 课程日历 
    link(href="/static/css/portal/calendar.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/calendar.js")
body(ng-controller="calendarCtrl")
    section#index-view
        div.calendar
            
