include ./lib/header.jade
    title 个人资料
    link(href="/static/css/portal/information.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/information.js")
body(ng-controller="informationCtrl")
    section#index-view
        include ./lib/alert.jade
        div.avatar
            span 头像
            div.avatar-detail(style="background-image:url('{{ person.headurl }}')")
        div.num
            div.phone.clearfix(ng-click="showBind()")
                div.name 手机号
                div.input
                    div {{ person.phone }}
            div.qq.clearfix
                div.name qq号码
                div.input
                    input(type="number",ng-model="person.qq")
        div.other
            div.address.clearfix
                div.name 地区
                div.input
                    input(type="text",ng-model="person.address")
        div.instrust.clearfix(ng-click="showSkillChoose($event)")
            div.name 感兴趣的
            div.inner
                button(type="button",ng-repeat="i in skillsed") {{ i.display }}
        div.skill-chooser(ng-show="skillChooseShow == true",ng-click="showSkillChoose($event)")
            div.skills(ng-show="skillChooseShow == true")
                div.skill-inner
                    button(ng-repeat="i in skills.data",ng-click="addSkill($event,i)",class="{{ i.select }}") {{ i.display }}
                div.button-line
                    button.save(ng-click="saveSkills()",type="button") 保存
        div.binding-phone(ng-show="bindShow == true",ng-click="showBind()")
            div.bind(class="{{ bindingClass }}",ng-show="bindShow==true",ng-click="phoneEdit($event)")
                div.title 绑定手机号
                div.phone
                    input(type="number",ng-model="person.phone",placeholder="手机号")
                div.credit.clearfix
                    input(type="number",ng-model="credit",placeholder="验证码")
                    button(type="button",ng-click="sendCode()") {{ sendText }}
                div.button-line
                    button(type="button",ng-click="savePhone()") 保存
        button.save(type="button",ng-click="saveInformation()") 保存
