include ./lib/header.jade
    title 新增课程
    link(href="/static/css/portal/newcourse.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/newcourse.js")
body(ng-controller="newcourseCtrl")
    section#index-view
        div.card.clearfix(move)
            div.time-chooser.move.cleafix
                div.name.clearfix 课程时间
                div.right
                    div.timer.clearfix
                        div#snoon.noon.swiper-container.clearfix
                            div.swiper-wrapper
                                div.am.swiper-slide A.M.
                                div.pm.swiper-slide P.M.
                        div#shour.hour.swiper-container.clearfix
                            div.swiper-wrapper
                                -   for (var hour = 0; hour <= 12; hour ++)
                                        div(class="hour"+hour).swiper-slide=hour<10?'0'+hour:hour
                        div.pipe.clearfix :
                        div#sminute.minute.swiper-container.clearfix
                            div.swiper-wrapper
                                -   for (var minute = 0; minute < 60 ; minute ++)
                                        div(class="minus"+minute).swiper-slide=minute<10?'0'+minute:minute
                    div.to -
                    div.timer.clearfix
                        div#tnone.noon.swiper-container.clearfix
                            div.swiper-wrapper
                                div.am.swiper-slide A.M.
                                div.pm.swiper-slide P.M.
                        div#thour.hour.swiper-container.clearfix
                            div.swiper-wrapper
                                -   for (var hour = 0; hour <= 12; hour ++)
                                        div(class="hour"+hour).swiper-slide=hour<10?'0'+hour:hour
                        div.pipe.clearfix :
                        div#tminute.minute.swiper-container.clearfix
                            div.swiper-wrapper
                                -   for (var minute = 0; minute < 60 ; minute ++)
                                        div(class="minus"+minute).swiper-slide=minute<10?'0'+minute:minute
            div.price.clearfix
                div.name 课程价格
                div.right
                    input(type="text")
                    span 元/课时
            div.address.clearfix
                div.name 课程地址
                div.right
                    textarea=""
        button#add(type="button") + 新增
                    
