include ./lib/header.jade
    title 我的课程 
    link(href="/static/css/portal/ordered.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/ordered.js")
body(ng-controller="orderedCtrl")
    section#index-view
        div.card(ng-repeat="i in card")
            div.title {{ i.stCoachEntity.displayname }}
                span.route 导航
                    i.route-icon=""
            div.detail
                div.line 课程
                    span.right {{ i.desc }}
                div.line 时间
                    span.right {{ i.begintime | date : 'yyyy-MM-dd a HH:mm' }} - {{ i.endtime | date : 'a HH:mm' }}
                div.line 地址
                    span.right {{ i.address }}
            div.bottom
                div.name 单号 {{ i.id }}
                    span.qrcode(ng-if="i.status == 'paying'")=""
                    button.evaluate(type="button",ng-click="goEvaluate(i.id,i.coach_id)") 评价
