include ./lib/header.jade
    title 商品详情 
    link(href="/static/css/portal/shopDetail.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/shopDetail.js")
body(ng-controller="shopDetailCtrl")
    include ./lib/alert.jade
    section#index-view
        div.process(ng-show="process==true")=""
        div.banner(style="background-image:url('{{ data.pic_res.resourceUrl }}')")=""
        div.desc
            div.title {{ data.name }}
            div.line
                div.cost-icon=""
                div.price {{ data.price }} 元
        div.details
            div.text 产品参数
            div.go-right=""
        div.annc
            div.title 商品介绍
            div.annc-desc {{ data.description }}
        div.buy
            button.buy-now(ng-click="buy()") 立即购买
