doctype html
html(lang="en",ng-app="sweetheart")
    head
        meta(name="viewport",content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
        meta(name="format-detection",content="telephone=no")
        script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
        script.
            !(function() {
                var rem;
                rem = function() {
                    document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
                };
                rem();
                window.addEventListener('resize', rem, false);
                var _hmt = _hmt || []
            })();
        
