nav.navbar.navbar-default
    div.continer-fluid
        div.navbar-header
            a.navbar-brand(href="javascript:;") 甜心健身
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(ng-if="nav=='user'",class="active")
                    a(href="/user.html") 用户
                li(ng-if="nav!='user'")
                    a(href="/user.html") 用户
                li(ng-if="nav=='coach'",class="active")
                    a(href="/coach.html") 教练
                li(ng-if="nav!='coach'")
                    a(href="/coach.html") 教练
                li(ng-if="nav=='subject'",class="active")
                    a(href="/coach.html") 操课
                li(ng-if="nav!='subject'")
                    a(href="/subject.html") 操课
                li(ng-if="nav=='course'",class="active")
                    a(href="/course.html") 专业 
                li(ng-if="nav!='course'")
                    a(href="/course.html") 专业
                li(ng-if="nav=='position'",class="active")
                    a(href="/position.html") 实体店 
                li(ng-if="nav!='position'")
                    a(href="/position.html") 实体店
                li(ng-if="nav=='wx'",class="active")
                    a(href="/wx.html") 系统
                li(ng-if="nav!='wx'")
                    a(href="/wx.html") 系统
                li(ng-if="nav=='backuser'",class="active")
                    a(href="/backuser.html") 后台用户
                li(ng-if="nav!='backuser'")
                    a(href="/backuser.html") 后台用户
                li(ng-if="nav=='shop'",class="active")
                    a(href="/shop.html") 商城
                li(ng-if="nav!='shop'")
                    a(href="/shop.html") 商城
                li(ng-if="nav=='ordered'",class="active")
                    a(href="/ordered.html") 订单
                li(ng-if="nav!='ordered'")
                    a(href="/ordered.html") 订单
                li(ng-if="nav=='recharge'",class="active")
                    a(href="/recharge.html") 充值
                li(ng-if="nav!='recharge'")
                    a(href="/recharge.html") 充值
                li(ng-if="nav=='scan'",class="active")
                    a(href="/scan.html") 到店扫码
                li(ng-if="nav!='scan'")
                    a(href="/scan.html") 到店扫码
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="javascript:;",ng-click="logout()") 退出登录 
