.calendar
    background-color:#fff
    margin:0.02rem
    padding-top:0.04rem
    padding-bottom:0.04rem
    border:1px solid #dcdcdc
    box-shadow:1px 1px 3px #ccc
    ul
        margin:0
        padding:0
        line-height:0.12rem
        font-size:biggest-font-size
        li
            list-style:none
            display:inline-block
            width:0.12rem
            height:0.1rem
            a
                padding:0.01rem
                text-decoration:none
                color:#333
            a.today
                background-color:brand-pink
                border-radius:100%
                color:#fff
            a.unactive
                color:#e6e6e6
    ul.title
        font-size:less-font-size
        color:#c1c1c1
