include ./lib/header.jade
link(href="/static/css/coach.css",rel="stylesheet",type="text/css")
script(language="javascript",src="/static/js/coach.min.js")
body(ng-controller="coachCtrl")
    include ./lib/nav.jade
    div.container
        div.opt-line
            //button.btn.btn-primary#add-btn(type="button",data-toggle="modal",data-target="#add") 添加操课教练
            div.dropdown
                button.btn.btn-default.dropdown-toggle#filter(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true") {{ filterText }}
                    span.caret=""
                ul.dropdown-menu.dropdown-menu-right(aria-labelledby="filter")
                    li
                        a(href="javascript:;",ng-click="getCoach(1)") 待审批
                    li  
                        a(href="javascript:;",ng-click="getCoach(2)") 已通过
                    li
                        a(href="javascript:;",ng-click="getCoach(-1)") 全部
        table(class="table table-striped")
            tr
                th #
                th 排序权重 
                th 展示名
                th 全名  
                th 昵称  
                th 状态  
                th 教龄
                th 性别
                th 身份证号
                th 手机号
                th 操作
            tr(ng-repeat="i in data.root")
                td {{ i.id }}
                td {{ i.order_code }}
                td {{ i.displayname }}
                td {{ i.nickname }}
                td {{ i.stUserEntity.nickname }}
                td(ng-if="i.status == '0'") 待审核
                td(ng-if="i.status == '1'") 已通过
                td(ng-if="i.status == '2'") 已驳回
                td {{ i.age }}
                td(ng-if="i.gender == '1'") 男
                td(ng-if="i.gender == '2'") 女
                td(ng-if="i.gender != '1' && i.gender != '2'") 未知
                td {{ i.idcard }}
                td {{ i.phonenum }}
                td(ng-if="i.type != '0' && i.type != '1'") 全能 
                td
                    a.view(href="javascript:;",data-target="#view",ng-click="viewEdit(i)",data-toggle="modal") 查看详情 
                    a.approval(href="javascript:;",data-toggle="modal",data-target="#approval",ng-click="optid(i.userid,i.id)") 通过 
                    a.reject(href="javascript:;",data-toggle="modal",ng-click="optid(i.userid,i.id)",data-target="#reject") 取消通过
                    a.addV(href="javascript:;",data-toggle="modal",ng-click="optid(i.userid,i.id)",data-target="#addV") 成为认证
                    a.order(href="javascript:;",style="margin-left:5px;",data-toggle="modal",ng-click="optid(i.userid,i.id)",data-target="#order") 更改排序权重
                    a.delete(style="margin-left:5px;",href="javascript:;",data-toggle="modal",ng-click="optid(i.userid,i.id)",data-target="#delete") 删除记录
    
    div#delete.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="删除记录")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 删除记录
                div.modal-body
                    p 确定要删除这条记录吗？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-danger(type="button",data-dismiss="modal",ng-click="delete()") 删除
    div#view.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="查看详情")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 查看详情
                div.modal-body
                    div.form-group
                        label(for="images") 生活照
                        div.images(ng-repeat="i in viewImagesUrlList")
                            img(ng-src="{{ i.res_url }}")
                    div.form-group
                        label(for="credit-images") 认证照片
                        div.images(ng-repeat="i in imagesIDCardUrlList")
                            img(ng-src="{{ i.res_url }}")
                    div.form-group
                        label(for="horizontalimg") 横幅
                        img#horizontalimg(ng-src="{{ horizontalimg }}")
                    div.form-group
                        label(for="headimg") 头像
                        img#headimg(ng-src="{{ headimg }}")
                    div.form-group
                        label(for="video") 视频
                        video#video(ng-src="{{ video }}",controls="controls")
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
    div#approval.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="通过成为教练申请")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 通过成为教练申请
                div.modal-body
                    p 确定要通过成为教练申请吗？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="passCoachApply()") 通过
    div#reject.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="驳回成为教练申请")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 驳回成为教练申请 
                div.modal-body
                    p 确定要驳回成为教练申请么？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-danger(type="button",data-dismiss="modal",ng-click="rejectCoachApply()") 驳回
    div#addV.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="驳回成为教练申请")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 成为认证用户 
                div.modal-body
                    p 确定要通过ta为认证用户吗？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-danger(type="button",data-dismiss="modal",ng-click="addVApply()") 确定
    div#order.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="修改排序权重")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 修改排序权重 
                div.modal-body
                    label(for="score") 数量
                        input#name.form-control(type="number",placeholder="输入具体数量",ng-model="order_code")
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="changeOrder()") 确定
