include ./lib/header.jade
link(href="/static/css/position.css",rel="stylesheet",type="text/css")
script(language="javascript",src="/static/js/position.min.js")
body(ng-controller="positionCtrl")
    include ./lib/nav.jade
    div.container.clearfix
        button.btn.btn-primary#add-btn(type="button",data-toggle="modal",data-target="#add") 添加场地
        button.btn.btn-primary.pull-right#add-btn(type="button",data-toggle="modal",data-target="#sync") 同步场地到微信菜单
        table(class="table table-striped")
            tr
                th #
                th 场地名称
                th 详细地址
                th 在微信菜单中展示
                th 操作
            tr(ng-repeat="i in data.root")
                td {{ i.id }}
                td {{ i.place_name }}
                td {{ i.description }}
                td(ng-if="i.issynctoweixin==0")="未同步"
                td(ng-if="i.issynctoweixin==1")="已同步"
                td
                    a.edit(href="javascript:;",data-toggle="modal",data-target="#edit",ng-click="optid(i.id,1)") 编辑
                    a.delete(href="javascript:;",data-toggle="modal",ng-click="optid(i.id)",data-target="#delete") 删除
    div#add.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="添加场地")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 添加场地
                div.modal-body
                    div.form-group
                        label(for="name") 场地名称 
                        input#name.form-control(type="text",placeholder="输入场地名称",ng-model="place.place_name")
                    div.form-group
                        label(for="description") 详细地址 
                        input#description.form-control(type="text",placeholder="输入详细地址",ng-model="place.description")
                    div.form-group
                        label 同步到微信菜单
                        div
                            label.radio-inline 
                                input(type="radio",name="syncRadio",value="0",ng-model="place.issynctoweixin") 
                                | 不同步
                            label.radio-inline
                                input(type="radio",name="syncRadio",value="1",ng-model="place.issynctoweixin")
                                | 同步到微信
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="add()") 保存
    div#edit.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="编辑场地")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 编辑场地
                div.modal-body
                    div.form-group
                        label(for="name") 场地名称 
                        input#name.form-control(type="text",placeholder="输入场地名称",ng-model="place.place_name")
                    div.form-group
                        label(for="description") 详细地址 
                        input#description.form-control(type="text",placeholder="输入详细地址",ng-model="place.description")
                    div.form-group
                        label 同步到微信菜单
                        div
                            label.radio-inline 
                                input(type="radio",name="syncRadio",value="0",ng-model="place.issynctoweixin") 
                                | 不同步
                            label.radio-inline
                                input(type="radio",name="syncRadio",value="1",ng-model="place.issynctoweixin")
                                | 同步到微信
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="edit()") 保存
    div#delete.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="删除场地")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 删除场地
                div.modal-body
                    p 确定要删除这个场地吗？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-danger(type="button",data-dismiss="modal",ng-click="delete()") 删除
    div#sync.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="同步到微信菜单")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 同步菜单
                div.modal-body
                    p 确定要同步到微信菜单吗？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="sync()") 确定
