include ./lib/header.jade
link(href="/static/css/user.css",rel="stylesheet",type="text/css")
script(language="javascript",src="/static/js/user.min.js")
body(ng-controller="userCtrl")
    include ./lib/nav.jade
    div.container
        button.btn.btn-primary#add-btn(type="button",data-toggle="modal",data-target="#sync") 同步微信用户 
        table(class="table table-striped",style="margin-top:20px;")
            tr
                th #
                th 昵称
                th 性别
                th 手机号
                th 积分
                th 关注领域
                th 头像
            tr(ng-repeat="i in data.root")
                td {{ i.id }}
                td {{ i.nickname }}
                td(ng-if="i.gender == 1") 男
                td(ng-if="i.gender == 2") 女
                td(ng-if="i.gender == 0") 未知
                td {{ i.phonenum }}
                td {{ i.score }}
                td {{ i.goodat }}
                td
                    img(ng-src="{{ i.headurl }}",width="70px",height="70px")
        include ./lib/pagination.jade
    div#sync.modal.fade.bs-example-modal-sm(role="dialog",tabindex="-1",aria-labelledby="同步微信用户")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",area-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 同步微信用户
                div.modal-body
                    p 确定要开始同步微信用户吗？
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="sync()") 同步
