@import "./lib/header.styl"
input
    -webkit-user-select:initial
section#index-view
    .processing
        position:fixed
        height:100%
        width:100%
        background-color:rgba(0,0,0,0.5)
        top:0
        image-auto('uploading.gif')
        background-position:center
        background-size:20% auto
        p
            font-size:0.04rem
            position:absolute
            bottom:37%
            color:#fff
            width:100%
            text-align:center
    font-size:base-font-size
    .base-title
        font-size:bigger-font-size
        text-align:center
        span
            border-bottom:0.01rem solid brand-pink
            padding-left:0.05rem
            padding-right:0.05rem
            padding-bottom:0.01rem
            line-height:0.08rem
    #base-message
        width:96%
        margin:0 auto
        margin-top:margin-height-half
        background-color:#fff
        padding-bottom:0.02rem
        box-shadow:1px 1px 9px #ccc
        .message-line
            border:1px solid #dcdcdc
            margin:0.02rem
            padding:0.02rem
            border-radius:2px
            span
                text-align:left
                color:#777
            input
                text-align:right
                float:right
                background-color:transparent
                border:none
                width:0.6rem
                -webkit-user-select:initial
    #personal-message,#award-message,#skill-message,#image-message,#video-message
        .left-title
            border-left:0.01rem solid brand-pink
            padding-left:0.01rem
            font-size:bigger-font-size
        width:96%
        margin:0 auto
        padding-bottom:0.02rem
        margin-top:margin-height-half
        background-color:#fff
        box-shadow:1px 1px 9px #ccc
        textarea
            width:94%
            height:0.3rem
            resize:none
            border:1px solid #dcdcdc
            margin:0 0.02rem
            margin-top:0.02rem
            -webkit-user-select:initial
    #skill-message
        margin-bottom:0.02rem
        background-color:transparent
        box-shadow:none
        .left-title
            line-height:0.1rem
            background-color:#fff
            border-bottom:1px solid #dcdcdc
            box-shadow:1px 1px 3px #ccc
            .more-skill-down
                image-wauto('more-skill-down.png')
                width:0.06rem
                height:0.09rem
                position:absolute
                right:0.04rem
            .more-skill-up
                image-wauto('more-skill-up.png')
                width:0.06rem
                height:0.09rem
                position:absolute
                right:0.04rem
        .skills-area
            background-color:brand-black
            padding:0.02rem
            padding-bottom:0
            margin-left:0.02rem
            margin-right:0.02rem
            button.unchoose
                border:1px solid #dcdcdc
                background-color:transparent
                width:0.2rem
                margin-left:0.02rem
                height:0.08rem
                color:#fff
                border-radius:0.08rem
                margin-bottom:0.02rem
            button.choose
                border:1px solid brand-pink
                background-color:transparent
                width:0.2rem
                margin-left:0.02rem
                height:0.08rem
                color:brand-pink
                border-radius:0.08rem
                margin-bottom:0.02rem                
                
    #image-message,#video-message
        .left-title
            border-left:0.01rem solid brand-pink 
            color:brand-pink
            font-size:lest-font-size
            padding-left:0.01rem
        .add-video
            width:0.2rem
            height:0.2rem
            image-auto('video-add-icon.png')
            margin-left:0.02rem
            margin-top:0.02rem
            display:inline-block
            + textarea
                height : 0.19rem
                width: 71% 
        .add-pic
            width:0.2rem
            height:0.2rem
            image-auto('add-icon.png')
            display:inline-block
            margin-left:0.02rem
            margin-top:0.02rem
        input[name='images']
            visibility:hidden
            height:0
            width:0
        .pic
            display:inline-block
            margin-left:0.02rem
            margin-top:0.02rem
            > div
                background-repeat:no-repeat
                background-size:cover
                background-position:center
                width:0.2rem
                height:0.2rem
        #video
            visibility:hidden
            height:0
            width:0
    #footer
        text-align:center
        div 
            margin-top:0.02rem
            text-align:center
            font-size:less-font-size
            color:#777
        #submit
            margin-top:0.02rem
            text-align:center
            font-size:base-font-size
            background-color:brand-pink
            border-radius:0.1rem
            height:0.1rem
            width:96%
            border:none
            margin-bottom:0.04rem
            color:#fff
