@import "./lib/header.styl"

body
    text-align:center
.hellow
    font-size:0.17rem
    text-align:center
    margin-top:0.5rem

.hellow-local
    font-size:0.17rem
    text-align:center
    margin-top:0.5rem

button
    position:absolute
    bottom:0.05rem
    font-size:0.04rem
    border:0
    background:#fff
    width:80%
    left:10%
    border-radius:0.12rem
    padding:0.02rem 0.04rem

