@import "./lib/header.styl"

input
    -webkit-user-select:initial

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none !important
    margin: 0

@-webkit-keyframes phoneIn
    0%
        -webkit-transform:scale(0)
    100%
        -webkit-transform:scale(1)

section#index-view
    text-align:center
    font-size:base-font-size
    .avatar
        height:0.3rem
        background-color:#fff
        box-shadow:1px 1px 3px #ccc
        border-bottom:1px solid #dcdcdc
        span
            position:absolute
            height:0.3rem
            line-height:0.3rem
            left:0.04rem
        .avatar-detail
            position:absolute
            right:0.04rem
            width:0.28rem
            height:0.28rem
            margin-top:0.01rem
            background-size:cover
            background-position:center
            background-repeat:no-repeat
            border-radius:100%
    .num
        margin-top:margin-height
        background-color:#fff
        border-top:1px solid #dcdcdc
        border-bottom:1px solid #dcdcdc
        box-shadow:1px 1px 3px #ccc
        .phone
            line-height:0.12rem
            margin-left:0.04rem
            margin-right:0.04rem
            border-bottom:1px solid #dcdcdc
            .name
                float:left
            .input
                width:70%
                float:right
                text-align:right
        .qq
            .name
                float:left
            line-height:0.12rem
            margin-left:0.04rem
            margin-right:0.04rem
            .input
                margin-right:0.04rem
                width:70%
                float:right
                input
                    border:none
                    background-color:transparent
                    width:100%
                    text-align:right
    .other
        margin-top:margin-height
        background-color:#fff
        border-top:1px solid #dcdcdc
        border-bottom:1px solid #dcdcdc
        box-shadow:1px 1px 3px #ccc
        .address
            .name
                float:left
            line-height:0.12rem
            margin-left:0.04rem
            margin-right:0.04rem
            .input
                margin-right:0.04rem
                float:right
                width:70%
                input
                    border:none
                    background-color:transparent
                    width:100%
                    text-align:right
        .sex
            .name
                float:left
            line-height:0.12rem
            margin-left:0.04rem
            margin-right:0.04rem
            .sex-f
                float:right
                padding-right:0.07rem
                i    
                    image-wauto('famale.png')
                    width:0.05rem
                    height:0.12rem
                    position:absolute
                    right:0.04rem
            .sex-m
                float:right
                padding-right:0.07rem
                i
                    image-wauto('male.png')
                    width:0.05rem
                    height:0.12rem
                    position:absolute
                    right:0.04rem
            .input
                float:right
                width:70%
                input
                    border:none
                    background-color:transparent
                    width:100%
                    text-align:right

    .instrust
        background-color:#fff
        margin-top:margin-height
        border-top:1px solid #dcdcdc
        border-bottom:1px solid #dcdcdc
        box-shadow:1px 1px 3px #ccc
        padding-left:0.04rem
        padding-right:0.04rem
        .name
            line-height:0.12rem
            height:0.12rem
            float:left
            width:20%
        .inner
            text-align:right
            width:80%
            float:left
            line-height:0.1rem
            padding-top:0.02rem
            button
                border:1px solid brand-pink
                margin-right:0.01rem
                height:0.08rem
                line-height:0.08rem
                border-radius:0.1rem
                background-color:transparent
                color:brand-pink
    .skill-chooser
        background-color:rgba(0,0,0,0.4)
        position:fixed
        top:0
        width:100%
        height:100%
        .skills.enter
            animate('phoneIn',0.3s,0s,1)
        .skills
            width:0.8rem
            padding-top:margin-height
            padding-bottom:margin-height
            margin:0 auto
            text-align:center
            margin-top:0.5rem
            text-align:left
            background-color:brand-black
            padding-left:0.04rem
            padding-right:0.04rem
            .skill-inner
                button
                    font-size:base-font-size
                    color:#fff
                    border:1px solid #fff
                    background:transparent
                    border-radius:0.1rem
                    height:0.09rem
                    margin-right:0.021rem
                    margin-bottom:0.02rem
                .active
                    border:1px solid brand-pink
                    color:brand-pink
            .button-line
                margin-top:0.1rem
                text-align:center
                button
                    width:84%
                    padding:0.01rem
                    height:0.1rem
                    border-radius:0.12rem
                    border:1px solid brand-pink
                    background-color:transparent
                    color:brand-pink
            

    .save
        margin-top:margin-height
        background-color:brand-pink
        border:none
        width:90%
        height:0.12rem
        color:#fff
        text-align:center
        border-radius:0.12rem

    .sex-chooser
        position:absolute
        width:100%
        height:100%
        background-color:rgba(0,0,0,0.4)
        top:0
        .sex-choose
            width:0.7rem
            padding-top:margin-height
            padding-bottom:margin-height
            margin:0 auto
            text-align:center
            background-color:brand-black
            margin-top:0.6rem
            .title
                color:#fff
                margin-bottom:margin-height-half
            .unchoose-f
                color:brand-blue
                border-radius:0.12rem
                height:0.12rem
                width:0.5rem
                line-height:0.12rem
                margin:0 auto
                border:1px solid transparent
                i
                    image-wauto('famale.png')
                    width:0.04rem
                    height:0.12rem
                    margin-left:-0.1rem
                    position:absolute
            .choose-f
                border-radius:0.12rem
                height:0.12rem
                width:0.5rem
                color:brand-blue               
                line-height:0.12rem
                border:1px solid brand-pink
                margin:0 auto
                i
                    image-wauto('famale.png')
                    width:0.04rem
                    height:0.12rem
                    margin-left:-0.1rem
                    position:absolute
            .unchoose-m
                border-radius:0.12rem
                height:0.12rem
                width:0.5rem
                color:brand-pink
                line-height:0.12rem
                margin:0 auto
                border:1px solid transparent
                i
                    image-wauto('male.png')
                    width:0.04rem
                    height:0.12rem
                    margin-left:-0.1rem
                    position:absolute
            .choose-m
                border-radius:0.12rem
                height:0.12rem
                width:0.5rem
                border:1px solid brand-pink
                line-height:0.12rem
                color:brand-pink                
                margin:0 auto
                i
                    image-wauto('male.png')
                    width:0.04rem
                    height:0.12rem
                    margin-left:-0.1rem
                    position:absolute

    .binding-phone
        position:absolute
        width:100%
        height:100%
        background-color:rgba(0,0,0,0.4)
        top:0
        .bind.enter
            animate('phoneIn',0.3s,0s,1)
        .bind
            width:0.8rem
            padding-top:margin-height
            padding-bottom:margin-height
            margin:0 auto
            text-align:center
            background-color:brand-black
            margin-top:0.5rem
            text-align:center
            .title
                font-size:base-font-size
                color:#fff
            .phone
                margin-top:margin-height-half
                input
                    color:#fff
                    line-height:0.09rem
                    padding-left:0.02rem
                    -webkit-user-select:initial
                    height:0.09rem
                    background-color:transparent
                    border:1px solid #fff
                    width:79.8%
                    margin-left:10%
                    display:block
                    border-radius:0.12rem
                    ::-webkit-input-placeholder
                        color:#555
            .credit
                margin-top:margin-height-half
                white-space:nowrap
                input
                    float:left
                    margin-right:3%
                    background-color:transparent
                    border:1px solid #fff
                    border-radius:0.12rem
                    height:0.09rem
                    line-height:0.09rem
                    padding-left:0.02rem
                    color:#fff
                    margin-left:10%
                    width:30%
                    -webkit-user-select:initial
                    ::-webkit-input-placeholder
                        color:#555
                button
                    margin-right:10% 
                    float:right
                    text-align:center
                    height:0.1rem
                    border-radius:0.12rem
                    border:1px solid brand-pink
                    background-color:transparent
                    color:brand-pink
            .button-line
                margin-top:0.05rem
                button
                    width:84%
                    padding:0.01rem
                    height:0.1rem
                    border-radius:0.12rem
                    border:1px solid brand-pink
                    background-color:transparent
                    color:brand-pink
                    
